<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Formulaire Personne</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>
    <script src='js/main.js'></script>
</head>
<body>
    <h1>Formulaire Personne</h1>
    <form action="/personne/add" method="POST">
        <input type="text" name="name" placeholder="Prenom" value="<%=personne.name %>" required />
        <input type="text" name="surname" placeholder="Nom" value="<%=personne.surname %>" required />
        <input type="text" name="age" placeholder="0"  value="<%=personne.age %>" required />
        <input type="submit" name="btnSubmit" value="valider" />
    </form>
</body>
</html>